@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="ChatBox" class="card">
    <div class="card-header">
        <b>Online Support</b>
    </div>
    <div id="MessagesPanel">
        <ul id="Messages"></ul>
        <div id="SendNewMessage">
            <form action="" id="NewMessageForm" class="row">
                <div class="form-group col-8">
                    <input type="text" id="MessageInput" class="form-control" placeholder="Enter Your Message ... ">
                </div>
                <button class="btn btn-success col-md-4">Send</button>
            </form>
        </div>
    </div>
</div>